{#- A compact, dense index for the old archive: just date + title. #}
<ul class="archive-list">
{%- for post in postslist | reverse %}
	<li class="archive-list-item">
		<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy-LL-dd") }}</time>
		<a href="{{ post.url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
	</li>
{%- endfor %}
</ul>
