{#- A plain, editorial list of posts: title, date, and (if present) a dek/excerpt.
    Used for the homepage Journal feed and the tag index pages. #}
<ul class="essay-list">
{%- for post in postslist | reverse %}
	<li class="essay-list-item{% if post.url == url %} essay-list-item-active{% endif %}">
		<a href="{{ post.url }}" class="essay-list-link">
			<span class="essay-list-title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}{% if post.data.draft %} <span class="draft-badge">Draft</span>{% endif %}</span>
			{%- if post.data.description %}
			<span class="essay-list-dek">{{ post.data.description }}</span>
			{%- endif %}
			<time class="essay-list-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("MM-dd-yyyy") }}</time>
		</a>
	</li>
{%- endfor %}
</ul>
