
<div class="postlist-masonry">
{%- for post in postslist | reverse %}
  <article class="postlist-card{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url }}" class="postlist-card-link">
      {%- set postContent = post.rawInput %}
      {%- set imageMatch = postContent | regexMatch('!\\[.*?\\]\\((/media/[^)]+)\\)') %}
      {%- if imageMatch %}
        <img src="{{ imageMatch[1] }}" alt="Thumbnail for {{ post.data.title }}" class="postlist-card-image" loading="lazy">
      {%- endif %}
      <div class="postlist-card-content">
        <h2 class="postlist-card-title">
          {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
        </h2>
        <time class="postlist-card-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
      </div>
    </a>
  </article>
{%- endfor %}
</div>
